:root {
    --color: rgb(59,7,100);
    --bg: rgb(233,213,255);
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    font-family: "Roboto Light", "Ubuntu Light", "Ubuntu", monospace;
}

.hidden {
    display: none;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    background-color: var(--bg);
    padding: 0 1rem;
    justify-content: space-between;
    flex-direction: row;
}

.headerTitle {
    color: var(--color);
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.headerPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.headerSubtitle {
    color: var(--color);
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.container {
    display: flex;
    width: 48rem;
    padding: 1rem;
    margin: auto;
    background-color: white;
    border-radius: 0.75rem;
}

.inputContainer {
    margin-top: 12rem;
}

.resultContainer {
    margin-top: 1rem;
}

.genreContainer {
    display: flex;
    flex-direction: column;
}

.genreSelect {
    display: flex;
    flex-direction: row;
    gap: 0.375rem;
}

.genreTitle {
    margin: 0 0 .25rem 0;
    font-weight: 500;
}

.genreButton {
    padding: 0.25rem 0.75rem;
    background-color: rgb(229,231,235);
    border-radius: 9999px;
    border: 0;
}