<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieAdvisor - Recommended Movies</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/fetch.js" defer></script>
    <script src="../static/js/update.js" defer></script>
</head>
<body>
    <header>
        <h1 class="headerTitle">MovieAdvisor</h1>
        <div class="headerPart">
            <h2 class="headerSubtitle">Home</h2>
            <h2 class="headerSubtitle">About</h2>
        </div>
    </header>
    <div class="container inputContainer">
        <div>
            <div class="genreContainer">
                <h3 class="genreTitle">These genres:</h3>
                <div class="genreSelect">
                    <div class="genreActiveContainer" id="wantedContainer">
                        <span class="genreButton" onclick="toggleGenre(this)">Action</span>
                        <span class="genreButton" onclick="toggleGenre(this)">War</span>
                        <span class="genreButton" onclick="toggleGenre(this)">Thriller</span>
                    </div>

                    <div class="genreRestContainer">
                        <span class="addGenreBtn" id="addWantedBtn" onclick="toggleOverlay()">+</span>

                        <div class="genreOverlay" id="wantedOverlay">
                            <span class="genreButton" onclick="toggleGenre(this)">Comedy</span>
                            <span class="genreButton" onclick="toggleGenre(this)">Drama</span>
                            <span class="genreButton" onclick="toggleGenre(this)">Sci-Fi</span>
                            <span class="genreButton" onclick="toggleGenre(this)">Horror</span>
                            <span class="genreButton" onclick="toggleGenre(this)">Fantasy</span>
                        </div>
                    </div>
                </div>
                <br>
                <h3 class="genreTitle">But not these:</h3>
                <div class="genreSelect" id="unwantedContainer">
                    <span class="genreButton">Fantasy</span>
                    <span class="addGenreBtn" id="unwantedBtn">+</span>
                </div>
            </div>
        </div>
        <form id="form">
            <input hidden id="wanted" name="wanted" value="Action,Drama,Thriller,Comedy">
            <input hidden id="unwanted" name="unwanted" value="Fantasy">
            {{ error }}
            <button type="submit">Find Movies</button>
        </form>
    </div>
    <div class="hidden container resultContainer" id="resultContainer"></div>
</body>
</html>