<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieAdvisor - Recommended Movies</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/fetch.js" defer></script>
    <script src="../static/js/update.js" defer></script>
</head>
<body>
    <header>
        <h1 class="headerTitle">MovieAdvisor</h1>
        <div class="headerPart">
            <h2 class="headerSubtitle">Home</h2>
            <h2 class="headerSubtitle">About</h2>
        </div>
    </header>
    <div class="container inputContainer">
        <div>
            <div class="genreContainer">
                <h3 class="genreTitle">Genres:</h3>
                <div class="genreSelect">
                    <button class="genreButton">Action</button>
                    <button class="genreButton">War</button>
                    <button class="genreButton">Thriller</button>
                </div>
                <br>
                <h3 class="genreTitle">But not these genres:</h3>
                <div class="genreSelect">
                    <button class="genreButton">Fantasy</button>
                </div>
            </div>
        </div>
        <form id="form">
            <input hidden id="wanted" name="wanted" value="Action,Drama,Thriller,Comedy">
            <input hidden id="unwanted" name="unwanted" value="Fantasy">
            {{ error }}
            <button type="submit">Find Movies</button>
        </form>
    </div>
    <div class="hidden container resultContainer" id="resultContainer"></div>
</body>
</html>