<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieAdvisor - Recommended Movies</title>
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/fetch.js" defer></script>
    <script src="../static/js/update.js" defer></script>
    <script src="../static/js/genres.js" defer></script>
</head>
<body>
    <header>
        <h1 class="headerTitle">MovieAdvisor</h1>
        <div class="headerPart">
            <h2 class="headerSubtitle">Home</h2>
            <h2 class="headerSubtitle">About</h2>
        </div>
    </header>
    <div class="container inputContainer">
        <div>
            <div class="genreContainer">
                <h3 class="genreTitle">These genres:</h3>
                <div class="genreSelect">
                    <div class="genreActiveContainer" id="wantedContainer"></div>

                    <div class="genreRestContainer">
                        <span class="addGenreBtn" id="addWantedBtn" onclick="toggleOverlay()">+</span>

                        <div class="genreOverlay" id="wantedOverlay"></div>
                    </div>
                </div>
                <br>
                <h3 class="genreTitle">But not these:</h3>
                <div class="genreSelect">
                    <div class="genreActiveContainer" id="unwantedContainer"></div>

                    <div class="genreRestContainer">
                        <span class="addGenreBtn" id="addUnwantedBtn" onclick="toggleUOverlay()">+</span>

                        <div class="genreOverlay" id="unwantedOverlay"></div>
                    </div>
                </div>
            </div>
            {{ error }}
        </div>
    </div>
    <form class="container formContainer" id="form">
        <button class="formButton" type="submit">Find Movies</button>
    </form>
    <div class="hidden container resultContainer" id="resultContainer"></div>
</body>
</html>